<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta data-n-head="ssr" name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>wongyujing的个人博客</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
</head>
<body>
<%- include('header') %>
<div class="container content">
    <% for(let i = 0; i < list.length; i++) { %>
        <div class="article-item" href="<%= `/${list[i]}` %>">
            <div class="article-item-wrap">
                <img
                    class="article-item-img"
                    src="<%= `https://oss.wongyujing.top/blog/${list[i]}.png` %>"
                    alt="img"
                >
            </div>
            <h2 class="article-title"><%= list[i] %></h2>
            <a class="btn-link" href="<%= `/${list[i]}` %>">查看</a>
        </div>
    <% } %>
</div>
<%- include('footer') %>
</body>
</html>
